@import url("./uv_index.css");

@import url("./theme.css");

.highlights > h2 {
    font-size: 1rem;
}

.panel_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
}

.panel {
    background-color: var(--primary-color);
    border-radius: 1.5vw;
}

.panel img {
    width: 2rem;
    aspect-ratio: 1;
}

.stat_name {
    color: var(--text-sub);
    font-size: 0.75rem;
}

.panel > * {
    margin: 0.5rem;
}

.panel .value {
    font-size: 2rem;
}

.panel .condition {
    font-size: 0.6rem;
    font-weight: bold;
}

.panel .emote {
    font-size: 0.6rem;
}

.sun {
    display: flex;
}

.sun_rise, .sun_set {
    padding-inline: 5px;
    display: flex;
    align-items: center;
}