.stats {
    display: flex;
    flex-direction: column;
    font-size: clamp(0.5rem, 0.339rem + 1.29vw, 1.5rem);
}

.stats > div {
    display: flex;
    align-items: center;
}

.stats img {
    width: 20%;
    aspect-ratio: 1;
}

.stats p {
    margin: 0;
    font-size: 1em;
}