.panel:nth-of-type(1) {
    display: flex;
    flex-direction: column;
}

.panel:nth-of-type(1) > div {
    background-color: gray;
    flex-grow: 1;
    /* margin-top: 0; */
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    position: relative;
    overflow: hidden;
}

.guage_secondary {
    background-color: var(--primary-color);
    width: 80%;
    height: 80%;
    position: absolute;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    bottom: 0px;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.fill_bar {
    background-color: var(--secondary-color);
    position: absolute;
    width: 200%;
    height: 200%;
    right: -50%;
    top: 100%;
    z-index: 0;
    transform-origin: top center;

    transform: rotate(90deg);
    transition: transform 2s ease;
}