@import "./style/Controlbar.css";
@import "./style/detail_panels.css";
@import "./style/Details.css";
@import "./style/Overview.css";
@import "./style/SearchBar.css";
@import "./style/Statistics.css";
@import "./style/Temperature.css";
@import "./style/uv_index.css";
@import "./style/weekdays.css";

@import "./theme.css";

.main_card {
	width: 50%;
	aspect-ratio: 4/3;
	background-color: var(--secondary-color);
	border-radius: 2vw;

	display: flex;
	overflow: hidden;
}

/*On hand held devices, the height > width*/
@media (max-width: 1080px) {
    .main_card {
		width: 60%;
		flex-direction: column;
		aspect-ratio: 3/4;
	}
}