@import url("./Overview.css");
@import url("./Details.css");

.main_card {
	width: 50vw;
	aspect-ratio: 4/3;
	background-color: var(--secondary-color);
	border-radius: 2vw;

	display: flex;
	overflow: hidden;
}

@media (max-width < 1300px) {
    .main_card {
		flex-direction: column;
	}
}