.control_bar {
	height: fit-content;
	display: flex;
	align-items: center;
	gap: 10px;
}

.control_bar .separator {
	flex-grow: 1;
}

.temp_units {
	background-color: var(--primary-color);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: none;
	display: grid;
	place-items: center;
}

.temp_units span {
	color: var(--text-main);
}