@import url(./Controlbar.css);
@import url(./weekdays.css);
@import url(./detail_panels.css);

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details > div {
    width: 90%;
}