@import url("./SearchBar.css");
@import url("./Temperature.css");
@import url("./Statistics.css");

.overview {
	width: 30%;
	background-color: var(--primary-color);

    color: var(--text-main);
	display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;

}

.overview > div {
	width: 80%;
	height: fit-content;
	display: flex;
}

.overview > .weather_ico {
    width: 90%;
    aspect-ratio: 1;
}

.place_img {
    border-radius: 1vw;
    overflow: hidden;
    background-image: url("./assets/canada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.place_img > p {
    font-size: 0.75rem;
    color: white;
    width: 100%;
    text-align: center;
}

@media (max-width: 1080px) {
    .overview {
        width: 100%;
        height: 30%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        'search Main_temp'
        'Big_icon stats'
        'Big_icon location';
    }

    .overview > * {
        justify-self: center;
    }

    .searchBar {
        grid-area: search;
    }

    .overview > .weather_ico {
        width: 40%;
        grid-area: Big_icon;
    }

    .current_temp {
        grid-area: Main_temp;
    }

    .stats {
        grid-area: stats;
    }

    .place_img {
        grid-area: location;
    }
}