@import url("./theme.css");

.weekdays {
    display: flex;
    gap: 5px;
    color: var(--text-main);
}

.day {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 5vw;
    aspect-ratio: 3/4;
}

.day > p {
    margin: 0;
    font-size: 0.75rem;
}

.day > img {
    width: 70%;
    aspect-ratio: 1;
}

.low {
    color: var(--text-sub);
    font-size: 0.6rem;
}

@media not (min-width: 1300px) {
    .weekdays {
        flex-wrap: wrap;
    }
    .day {
        width: 5vw;
    }

    .day > p{
        font-size: 2vh;
    }

    .low {
        font-size: calc(2vh * 80 / 100);
    }
}